<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Добавляем информацию о приложении -->
            <customFields>{"app":"fitness-tracker"}</customFields>
        </encoder>
    </appender>

    <!-- Уровень логирования для твоего пакета -->
    <logger name="com.fitness.fitnessapp" level="INFO" />

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE" />
    </root>
</configuration>